/*Page accueil*/

/*header*/
.filante {
  border: white 5px solid;
}

/*section*/
.association {
  border-radius: 70px;
  border: 6px solid white;
}

.objectif {
  border-radius: 70px;
  border: 6px solid white;
  padding-left: 15px;
}

h1 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}

h3,
p {
  padding-left: 10px;
}

h4,
p {
  padding-left: 10px;
}

.observatoire {
  margin-left: 200px;
  height: 380px;
  width: 1200px;
}

.objets,
.planétes {
  font-weight: bold;
}

.tableau {
  display: flex;
  flex-direction: row;
  width: 990px;
  height: 410px;
}

table {
  height: 400px;
  width: 445px;
  color: white;
}

td,
th {
  text-align: center;
  border: white 5px solid;
}

.caroussel {
  display: flex;
  margin-top: 15px;
  flex-direction: row;
  height: 400px;
  width: 1400px;
}

.carousel-inner {
  width: 470px;
  border: white 5px solid;
}

/* footer */

.pied {
  border: white 5px solid;
  height: 400px;
  width: 1560px;
  margin-left: 5px;
  margin-right: 5px;
  padding-bottom: 15px;
  padding-top: 45px;
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.reseaux {
  height: 175px;
  width: 120px;
  display: flex;
  flex-direction: column;
  border: purple 5px solid;
  align-items: center;
  margin-bottom: 5px;
}

.facebook {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  border: white 5px solid;
}

.instagram {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  align-self: center;
}

.twitter {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.partenaire {
  display: flex;
  flex-direction: row;
  margin-top: 18px;
  border: tomato 5px solid;
  height: 115px;
  width: 480px;
  justify-content: space-between;
}

.cite {
  display: flex;
  flex-direction: row;
  margin-left: 5px;
}

.nasa {
  display: flex;
  flex-direction: row;
}

.esa {
  display: flex;
  flex-direction: row;
}
