/*Page accueil*/

/*header*/

/*section*/
.association {
  border-radius: 70px;
  border: 6px solid white;
}

.objectif {
  border-radius: 70px;
  border: 6px solid white;
  padding-left: 15px;
}

h1 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}

h3,
p {
  padding-left: 10px;
}

h4,
p {
  padding-left: 10px;
}

.observatoire {
  margin-left: 200px;
  border: blue 1px solid;
  height: 380px;
  width: 1200px;
}

.objets,
.planétes {
  font-weight: bold;
}

.tableau {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 390px;
  border: chartreuse 5px solid;
  height: 420px;
}

table {
  height: 400px;
  width: 400px;
  color: white;
  margin-right: 65px;
}

.complement {
  border: solid 6px blue;
  display: flex;
  width: 1400px;
  height: 950px;
  margin-left: 20px;
}

td,
th {
  text-align: center;
  border: white 5px solid;
}

.caroussel {
  display: flex;
  margin-top: 15px;
  border: blue 1px solid;
  flex-direction: row;
  height: 450px;
  width: 600px;
}

@media screen and (max-width: 1130px) {
  .caroussel {
    width: 500px;
    height: 400px;
  }
}

.photo {
  border: tomato 1px solid;
}
